form{
    display: flex;
    flex-direction: column;
}
form input, button{
    margin: 20px;
}

input{
    background-color: #2d374d;
    height: 30px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    color: white;
}
input:focus{
    outline-style: none;
    box-shadow: none;
    color: white;
    border-color: transparent;
}
button{
    color: white;
    background-color: #2d374d;
    border: none;
    height: 30px;
    font-size: 25px;
}
.error-msg{
    color: red;
    font-size: 15px;
    margin: 0 ;
}